{% extends 'base_layout.html' %}

{% block content %}
    <form method="post" class="site-form has-background-light">
        {% csrf_token %}
        <p class="title is-size-4 mb-4">
            вы действительнт хотите удалить коммент?
        </p>
        <div class="has-text-centered" type="submit">
            <button class="button is-success">
                подтвердить
            </button>
            <a class="button is-danger" href="{% url 'blog:article_detail' comment.article.slug %}">
                отмена
            </a>
        </div>
    <p></p>
    </form>

{% endblock %}